body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: Georgia, serif;
  -webkit-user-select: none;
}

h1 {
  margin: 0;
  padding: 10px;
  font-size: 32px;
  text-align: center;
}

sup {
  font-size: 14px;
}

canvas {
  display: block;
  margin: 10px auto;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAMAAAC6sdbXAAAABlBMVEXd3d3///+uIkqAAAAAAnRSTlP/AOW3MEoAAAAPSURBVAjXY2CAAEYgwCQBANYAEQZSGCcAAAAASUVORK5CYII=");
}

p {
  margin: 20px auto 0;
  text-align: center;
}

button {
  display: inline-block;
  margin: 0 10px;
  width: 100px;
  font-family: Georgia, serif;
  font-size: 16px;
}